body, div, p {
    font: 400 14px/22px Roboto,sans-serif;
    text-align: center;
}
canvas, img, video {
    border: 1px solid black;
}
h2 {
    color: #050571;
    font-size: 26px;
}
td {
    padding: 10px 0px 0px 10px;
    text-align: center;
}
button {
    display: inline-block;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.control {
    margin-bottom: 3px;
}
.err {
    color: red;
    font-weight: bold;
}
.caption {
    margin: 0;
    font-weight: bold;
}
.code {
    padding: 4px 6px;
    margin: 4px 8px 4px 2px;
    background-color: #FBFCFD;
    border: 1px solid #C4CFE5;
    font-family: monospace, fixed;
    font-size: 13px;
    min-height: 13px;
    line-height: 1.0;
    text-wrap: unrestricted;
    padding-bottom: 0px;
    margin: 0px;
}
.hidden {
    display: none;
}
.small {
    max-width: 300px;
}


/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  /* background-color: #f1f1f1; */
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #337ab7;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  /* border-top: none; */
    display: none;
    padding: 26px 25px;
    margin: 15px auto;
}
.regtab {
    width: 400px;
}

input[type=text], select {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.classinput {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}


.file-input label {
  display: block;
  position: relative;
  height: 36px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  border-color: #337ab7;
border: 2px solid #337ab7;
color: #337ab7;
  text-align:cetner;
}

.file-input {
    width: 100%;
    text-align: center;
}


.mybtn {
    height: 36px;
    width: 100%;
}

#name {
    width: 100%;
}
#dynamic-list {
    text-align: left;
    background-color: gray;
    color: white;
    border-radius: 2px;
    height: 240px;
    overflow: auto;
    font-family: monospace;
    width: 320px;
}

table {
    margin: 0px auto;
}